*{
    background-color: rgb(165, 163, 163);
}


h1{
    color: white;
   text-align: center;
}

ul{
    margin-top: 20px;
    margin-left: -40px;
    text-align: center;
    list-style: none;
}

ul a{
    border-radius: 20px;
    padding: 15px;
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 253, 253);
    text-decoration: none;
    background-image: url('/imagenes/fondo.jpg');
}

ul a:hover{
    opacity: 0.8;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: 0 0 5px white;
    transition: 0.5s;
}