body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header{
    background-image: url('/imagenes/blohper.jpg');
    background-size: cover;
    color:#fff;
    text-align: center;
    padding: 140px;
}
header h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

nav li{
    display: inline;
    margin-right: 20px;
    padding: 5px;
    width: 160px;
    background-color: #f7f8e8;
    border-radius: 10px;
}

main{
    padding: 20px 0;
}

section{
    padding: 40px 0;
}

h2{
    font-size: 2em;
    margin-bottom: 1em;
}

.blog-post{
    margin-bottom: 40px;
}

.meta{
    color: #666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.button{
    display: inline-block;
    background-color: #333;
    color: #fff ;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}
form{
    max-width: 600px;
    margin: 0 auto;
}